body {
    position: relative;
}



::-webkit-scrollbar {
    width: 12px;
    z-index: -50;

}
 
::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}
 
::-webkit-scrollbar-thumb {
    background-color: black;
    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.6);
}

.brandImg {
    width: 240px;
}

.navbar {
    margin-bottom: 0px;
    background-color: white;
}

.nav-link.active {
color: #00cc00; /* <—– change your color here*/
}

@media only screen and (max-width: 768px) {
    .nav-icon {
    margin-left: 20px;
    margin-right: 20px;
    }
    .nav-social {
        justify-content: center;
    }
}

h1 {
    font-size: 4rem;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-hero {
    margin-top: 100px;
}

.vertical-center {
    min-height:700px;
    min-height: 100vh;    
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
  }  

.jumbotron {
    background-image: url("../img/hero-nihar.png");
    margin-bottom: 0;
}

#home {
    padding-left: 10%;
}

#testimonials {
    min-height: 600px;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.btn, .btn-lg, .btn-sm{
    color: #00cc00;
    Border: 1px solid #00cc00;
}

.testimonialCard {
    width: 70%;
    margin: 0;
    padding-right: 0;
}

.card-img-top {
    width: 100%;
    height: auto;
    background-size: cover;
}

.bio {
    padding-left: 5rem;
    padding-right: 5rem
}

.bioHeader {
    text-align: center;
}

.profilePhoto {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-color: rgba(0,204,0);
}

.igIcon {
    color: #00cc00;
    position: relative;
    bottom: .25rem;
}

.logo-box {
    display: flex;
    justify-content: space-around;
}


.logoImage {
    width: 120px;
    height: 80px;
}

.credentials {
    margin-top: 15%;
}

.serviceBox {
    margin-bottom: 5%;
}

.personalTraining {
    margin-right: 0;
}

.serviceImage {
    width: 280px;
    height: 200px;
    margin-left: 2%;
    object-fit: cover;
}

.modal-title {
    color: #00cc00;
}

.modalBodyHeader {
    font-size: .8rem;
}

.modalUl {
    font-size:1rem;
    text-align:left
}

body.modal-open {
    position: fixed;
}

.greenBullet, .greenIndentBullet{
    list-style: none;
}

.greenBullet::before, .greenIndentBullet::before {
    content: "•"; 
    color: #00cc00;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.5rem;
}

.greenIndentBullet::before {
    content: "◦";
}

.bannerImg {
    width: 100%;
    height: auto;
    /* margin-left: 10%; */
}

.bannerImg2{
    width: 100%;
    margin-top: 10%;
}

.textbox {
    padding-left: 5%;
    padding-right: 5%;
}


/* footer */

.footer {
    box-shadow: -700px 0 #f9f9f9, 700px 0 #f9f9f9;
    background-color: #f9f9f9;
    height: 350px;
    padding-top: 50px;
}

.footerLogo {
    width: 240px;
    margin-bottom: 0;
}

.footerCircle {
    background-color: white;
    border: 1.5px solid;
    border-radius: 50%;
    color: #00cc00;
    width: 50px;
    height: 50px;
    margin: 0px 2px 10px 2px;
}

.footerCircle:hover {
    background-color: #00cc00;
    color: white;
}

.footerIcon {
    padding-top: 10px;
}