body {
    position: relative;
}

::-webkit-scrollbar { 
    display: none; 
}

.navbar {
    margin-bottom: 0px;
    background-color: white;
}

.nav-link.active {
color: #00cc00; /* <—– change your color here*/
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.vertical-center {
    min-height:700px;
    min-height: 100vh;    
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
  }  

.jumbotron {
    background-image: url("../img/background-final.png");
    margin-bottom: 0;
}

#home {
    padding-left: 10%;
}

#testimonials {
    min-height: 600px;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.btn, .btn-lg, .btn-sm{
    background-color: #00cc00;
    color: white;
}

.card {
    width: 70%;
    margin: 0;
    padding-right: 0;
}

.bio {
    padding-left: 5rem;
    padding-right: 5rem
}

.bioHeader {
    text-align: center;
}

.profilePhoto {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-color: rgba(0,204,0);
}

.igIcon {
    color: #00cc00;
    position: relative;
    bottom: .25rem;
}

.logoImage {
    width: 25%;
    height: auto;
    margin: 3%;
}

.credentials {
    margin-top: 15%;
}

.serviceImage {
    width: 280px;
    height: 200px;
    margin-left: 2%;
    object-fit: cover;
}

.bannerImg {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.bannerImg2{
    width: 100%;
    margin-top: 10%;
}
